<form action="/add" method="POST">
    <h3>Postagens</h3>
    <p>Titulo:</p>
    <input type="text" name="titulo" id="titulo">
    <p>Conteudo:</p>
    <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
    <br/>
    <button type="submit">Cadastrar postagem</button>
</form>